<h1>RULES</h1>
<ol>
	<li>
		<strong>Everyone gets a chance to answer every question!</strong><br/>
		<span>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;For each question, every team gets a chance to answer.<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Including the "Daily Double" questions
		</span>
	</li>
	<br/>
	<li>
		<strong>During the regular rounds, you do NOT lose points for getting it wrong!</strong><br/>
		<span>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Feel free to guess away without any penalty.<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You can only lose points during the FINAL JEOPARDY round.
		</span>
	</li>
	<br/>
	<li>
		<strong>You've got 15 seconds!</strong><br/>
		<span>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;That's how long you get to deliberate for each question.<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Time starts after the question is read
		</span>
	</li>
	<br/>
	<li>
		<strong>For FINAL JEOPARDY, you can wager as much as the<br/> HIGHEST OVERALL SCORE!</strong><br/>

		<span>
			<!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The max amount that you can wager will be based on the highest overall score!<br/> -->
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;So, you could come from behind &amp; beat the team in the lead &#128578;<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Or lose it all and end up with negative points. &#128579;
		</span>
	</li>
</ol>
<br/>
<div style="text-align:center;">
	<button id="startGameButton" onclick="onStartGame()"">Start Game</button>
</div>
